$background-lighter-color: #FFFFFF;
$background-darker-color: #F0F1F1;
$main-text-color: #3C3C3C;
$light-text-color: #737373;
$dark-text-color: #000000;
$placeholder-color: #3C3C3C26;
$decoration-light-color: #707070;
$decoration-dark-color: #1A1818;
$accent-color: #FAD648;
$number-color: #5E5322;
