.decorated-header {
  position: relative;
  font-size: 3.8rem;
  color: $main-text-color;
  text-align: center;
  @media (max-width: 800px) {
    font-size: 4vw;
  }
  &::after {
    content: "";
    width: 25rem;
    height: 4rem;
    background-image: url("../assets/decoration.svg");
    background-repeat:no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 150%);
  }
}
