.burger{
  display: none;
  position: absolute;
  left: 0;
  padding-left: 4rem;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.header{
  color: black;
  margin-right: 8vw;
  margin-top: 2vw;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  &__greeting{
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    color:$dark-text-color
  }
  &__logout-button{
    padding: 1rem;
    margin-bottom: 1rem;
    color:$dark-text-color;
    background:none;
    font-size: 1.4rem;
    border: 1px solid transparent;
    font-family: $font-base;

    &:hover{
     border: 1px solid $decoration-dark-color;
    };

  }
  &__button{
    display: flex;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    &:hover{
      border: 1px solid $accent-color;
    }
    &-light{
      color:$light-text-color
    }
    &-dark{
      color:$dark-text-color
    }

  }
  &__menu-item{
    padding: 1rem;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover{
      border: 1px solid $main-text-color;
    }
  }
  &__menu-link{
    color: $main-text-color;
    text-decoration: none;
  }
  &__top{
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
  }
  &__bottom{
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
    align-items: center;
    gap: 3rem;
    transition: .3s;
  }
}

@media (max-width: 800px) {

  .hidden{
    display:none;
  }
  .burger{
    display: block;
  }
  .header {
    font-size: 1rem;
    margin: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width:100%;
    &__bottom{
      flex-direction: column;
      background-color: rgba(255, 255, 255, .9);
      gap: 0;
      width: 50%;
      padding: 3rem;
      border-radius: 0 0 5rem  0;
      text-align: center;
    }
    &__menu-item {
      width: 100%;
      &:hover {
        border-color: transparent;
      }
    }
    &__menu-link{

      &:hover{
        font-weight: 600;
      }
    }
    &__button{
      height: 1.6rem;
    }
  }
}


