@import "reset";
@import "settings/fonts";
@import "settings/colors";
@import "header";
@import "homeMainSection";
@import "homeThreeColumns";
@import "decoratedHeader";
@import "largeButton";
@import "steps";
@import "about";
@import "help";
@import "contact";
@import "footer";
@import "form";
@import "logout";

html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}
body{
  font-family: $font-base;
  box-sizing: border-box;
  position: relative;
}



