@import "reset";
@import "settings/fonts";
@import "settings/colors";
@import "header";
html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}
body{
  font-family: $font-base;
  box-sizing: border-box;
}
